# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Microsoft
.vs/
*.suo
*.sdf
*.opensdf
*.swp

#Compilation
bin/
obj/

# Python
.ipynb_checkpoints/
code/api/isl_api_python/src/build/
code/api/isl_api_python/src/dist/
code/api/isl_api_python/src/python/
code/api/isl_api_python/src/python.zip
code/api/isl_api_python/src/OpenISL_Python_API.egg-info/

#Dist
dist/releases/
dist/source/00_cleansource.lnk
dist/source/isl_api.ini
dist/source/bin/
dist/source/inc/
dist/source/connect/
dist/source/examples/
dist/source/resources/
dist/source/output.txt
